@import "../vars.scss";

.viewer-action-button {
  border:1px solid $viewer-border-color;
  color:$viewer-action-text-color;
  border-radius:$viewer-border-radius;
  display:inline-block;
  padding:10px 20px;
  cursor:pointer;
  font-size: $viewer-action-font-size;
  outline:none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: black;
  }
}
