@import "../vars.scss";
@import "actions.scss";

.viewer-no-hits {
  text-align:center;
  margin-top:60px;
  color: $viewer-text-color;

  &__info {
    font-size:$viewer-heading-font-size;
  }

  &__steps {
    margin-top:20px;
  }

  &__step-action {
    @extend .viewer-action-button;
  }
}
