@import url('theme.css');
@import url('../node_modules/ubl-viewer/release/theme.css');

.my-logo {
  color:white;
  flex:0 0 250px;
  padding:13px 20px;
  margin-right:15px;
  line-height: 16px;
}

.my-logo a:link {
  text-decoration: none;
  color: white;
}

.my-logo a:hover {
  text-decoration: none;
  color: white;
}

.my-logo a:active {
  text-decoration: none;
  color: white;
}

.my-logo a:visited {
  text-decoration: none;
  color: white;
}

.my-logo-sm {
  color:white;
  flex:0 0 250px;
  margin-right:15px;
  line-height: 16px;
}

.sk-hits-list a {
  text-decoration: none;
  color: #0366d6;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

table{
    table-layout: fixed;
    max-width: 600px;
    width: 100%;
}

th, td {
    border: 1px solid #e2cccc;
    overflow: hidden;
    max-width: 300px;
}


.sk-hits-list-hit__subtitle, .sk-hits-list-hit__tags {
    line-height: 20px;
    font-size: 14px;
    color: #000000;
    font-weight: 300
}

.sk-hits-list__item {
    display: -ms-flexbox;
    display: flex;
    padding: 0
}

.sk-hits-list-hit__poster {
    width: 200px;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    padding: 10px;
}

.sk-top-bar__content {
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    /* width: 100%; */
}

.ex1 {
    width: 500px;
    margin: 20px;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

