@import "~bootstrap/scss/bootstrap";
@import "./annotations.scss";

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.modal-open {
  overflow: hidden;
  overflow-y: scroll !important;
  padding-right: 0 !important;
}

.extraClass {
  font-size: 20px !important;
  pointer-events: auto !important;
  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

.gb_tb {
  border-radius: 3px;
  display: inline-block;
  font-size: 13px;
  left: -999em;
  opacity: 1 !important;
  padding: 8px 21px;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  visibility: hidden;
  z-index: 999;
  outline: none;
  transform: translateZ(0);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 44px;
  margin: 20px;
  white-space: nowrap;
}

.__react_component_tooltip.show {
  border-radius: 3px;
  opacity: 1 !important;
  top: 44px;
  left: 79% !important;
  width: 20%;
  right: 0;
  visibility: visible;
  position: absolute !important;
  display: inline-block !important;
  white-space: nowrap;
  pointer-events: auto !important;
}

.__react_component_tooltip.place-bottom:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 90% !important;
}

.__react_component_tooltip.place-bottom:before {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 90% !important;
}

.__react_component_tooltip.type-light.border.place-bottom:before {
  border-bottom: none !important
}

.Vtmiqc {
  background: rgba(66, 66, 66, 0.54);
  -webkit-border-radius: 28px;
  border-radius: 28px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -28px;
  height: 56px;
  width: 56px;
}

.xjKiLb {
  background: black;
  position: relative;
  z-index: 1000;
  width: 50px;
  padding: 5px;
}

.JUQOtc {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 400ms;
  fill: white;
  width: 24px;
  height: 36px;
  vertical-align: middle;
}

.button-transparent {
  background-color: transparent;
  border: none;
}
.outer-container {
  background: #efefef;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0288D1;
  background: radial-gradient(circle, #039BE5, #01579b);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  font-family: sans-serif;
}

.signedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  font-family: 'Amaranth', sans-serif;
  font-size: 200%;
}

.logoIcon {
  top: 4px;
  font-size: 32px;
  margin-right: -2px;
  position: relative;
}

.caption {
  margin: 20px 0 40px 0;
  font-family: 'Amaranth', sans-serif;
  font-size: 18px;
  opacity: 0.8;
}

.skip {
  font-weight: lighter;
  color: white;
  opacity: 0.7;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.skip:HOVER {
  text-decoration: underline;
}

.firebaseUi {
  min-width: 250px;
}

.button {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-top: 10px;
}

.account-image {
  width: 36px;
  height: 36px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  z-index: 400;
}

.account-image-profile {
  background-size: 96px 96px;
  border: none;
  vertical-align: top;
  height: 96px;
  width: 96px;
  margin-right: 20px;
  position: relative;
}

.gb_yb {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
}

.gb_Bb {
  font-weight: bold;
  margin: -4px 0 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gb_Db {
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gb_Ng {
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: right;
  padding-right: 10px;
  padding-left: 20px;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1px;
}
@media (max-width: 500px) {
  .schema-list {
    max-width: 240px;
  }

  .title-flex {
    display: flex;
    max-width: 240px;
  }

  .sk-toggle {
    max-width: 40px;
  }

  .sk-action-bar-row {
    display: inline-block;
  }

  .schema-list-value {
    word-break: break-word;
  }

  .sk-hits-list-hit__poster {
    flex: 0 0 25%;
  }

  .sk-hits-list {
    max-width: 340px;
  }
}

.schema-list {
  flex-flow: row wrap;
  background: #FFF;
  flex: auto;
  box-shadow: 0 1px 3px 0 #666;
}

.schema-list-flex {
  display: flex;
  flex-flow: row wrap;
  background: #FFF;
  flex: auto;
  min-width: 400px;
  box-shadow: 0 1px 3px 0 #666;
}

.schema-list-key {
  line-height: 20px;
  font-size: .95em;
  color: #45467b;
  font-weight: 600;
}

.schema-list-value {
  font-size: .95em;
  flex: 1 0;
  color: #3a3a3a;
  padding: 10px;
  min-width: 0;
}

.schema-list__left {
  min-width: 220px;
  padding: 10px;
  word-break:break-all;
}

.featured__poster {
  padding: 0 20px;
}

.collection-list__left {
  flex: 0 0 15%;
  padding: 10px;
}

.refresh-button {
  display: inline-block;
  margin-right: 4px;
  position: absolute;
  top: 1px;
}

.JUQOtd {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 400ms;
  fill: white;
  width: 16px;
  height: 16px;
  vertical-align: unset;
}

.JUQOte {
  font-size: .95em;
  flex: 0 0 5%;
  color: #3a3a3a;
  padding: 10px;
}

.JUQOtf {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 400ms;
  fill: #FFF;
  width: 42px;
  height: 42px;
  vertical-align: middle;
}

.JUQOtf__small {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 400ms;
  fill: #FFF;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.header__mid {
  border-radius: 3px;
  position: relative;
  display: flex;
  flex: 1 1;
}

.button-transparent__fav {
  background-color: transparent;
  border: none;
  vertical-align: top;
}

.JUQOtg {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 400ms;
  fill: white;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.JUQOtq {
  fill: white;
  padding: 13px;
}

.JUQOtt {
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 400ms;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.title-flex {
  display: flex;
}

.button-right {
  margin-left: auto;
  order: 2;
}

#page-wrap {
  height: 100%;
  overflow: hidden;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  width: 100%;
}

.item-span {
  padding-left: 10px;
  color: #04377b;
  transition: all 0.3s ease-in-out;
}

.soon {
  padding-left: 10px;
  color: silver;
  transition: all 0.3s ease-in-out;
  font-style: italic;
}

.sbico-c {
  background: transparent;
  border: 0;
  float: right;
  height: 44px;
  line-height: 44px;
  margin-top: -1px;
  outline: 0;
  position: relative;
  top: -1px;
}

.sbico-d {
  background: transparent;
  border: 0;
  float: right;
  height: 46px;
  margin-top: 0;
  outline: 0;
  position: absolute;
  top: 6px;
}

.z1asCe {
  display: inline-block;
  fill: white;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.sk-action-bar {
  .sk-panel {
    &__header {
      display: inline-block;
    }
  }
}

.sk-layout__top-bar {
  background: #042798;
}

.sk-hits-list-hit {
  width: 100%;
}

.sk-hits-list-hit__subtitle, .sk-hits-list-hit__tags {
  line-height: 20px;
  font-size: 16px;
  color: #000000;
  font-weight: 300
}

.sk-hits-list__item {
  display: flex;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin: 5px;
}

.sk-hits-list__landing {
  display: flex;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin: 0;
}

.sk-hits-list-hit__poster {
  width: 15%;
  flex: 0 0 15%;
  padding: 0 20px;
}

.sk-hits-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  background: #eeeeee;
}

.sk-hits-grid-landing {
   margin: 0;
}

.sk-hits-grid__landing {
  min-width: 310px;
}
@media (max-width: 500px) {
  .sk-hits-grid {
    background: #eeeeee;
    display: inline-block;
  }

  .sk-hits-grid-hit {
    padding: 10px;
    max-width: 250px;
    align-content: center;
    align-items: normal;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin: 5px;
  }
}
@media (min-width: 500px) {
  .sk-hits-grid-hit {
    padding: 10px;
    max-width: 250px;
    flex-flow: column nowrap;
    align-content: center;
    align-items: normal;
    flex: 190px 0;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 5px;
  }
}

.sk-top-bar__content {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  /* width: 100%; */
}

.ex1 {
  width: 500px;
  margin: 20px;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
}

.btn-group, .btn-group-vertical {
  float: right;
  width: 24%;
  text-align: right;
  padding-right: 10px;
  font-size: 16px;
}

.sk-layout__filters {
  background: #fff;
  padding: 15px;
  margin: 15px 0 15px 15px;
  flex: 0 0 15%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.08);
}


.my-logo {
  color:white;
  margin-right:15px;
  margin-left:25px;
  line-height: 16px;
  display: flex;
}

.my-logo a:link {
  text-decoration: none;
  color: white;
}

.my-logo a:hover {
  text-decoration: none;
  color: white;
}

.my-logo a:active {
  text-decoration: none;
  color: white;
}

.my-logo a:visited {
  text-decoration: none;
  color: white;
}

.my-logo-sm {
  color:white;
  flex:0 0 15.3%;
  margin-right:15px;
  line-height: 16px;
}

.sk-hits-list a {
  text-decoration: none;
  color: #0366d6;
}

.sk-hits-grid-hit a {
  text-decoration: none;
  color: #212121;
  transition: .25s ease;
  opacity: 1;
}

.sk-hits-grid-hit__title {
  margin-top: 10px;
  font-size: 16px;
}

.sk-hits-grid-hit__author {
  margin-top: 10px;
  color: #616161;
  font-size: 13px;
}

.sk-hits-grid-hit__poster a {
  opacity: 1;
  background: rgba(0,0,0,0.4);
  z-index: 2;
}

.sk-hits-grid-hit__poster a:hover {
  opacity: 1;
  background: rgba(0,0,0,0.4);
}

.sk-hits-list {
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-shrink: 0;
  background: #eeeeee;
}

.sk-results-list {
  padding: 15px 0;
  overflow-x: scroll;
}
