@import "../vars.scss";

.filter-item {

}

@mixin filter-option {
  position:relative;
  cursor:pointer;
  padding:0px 0;
  line-height:22px;
  display:flex;
  font-weight: $viewer-light-weight;

  input#{&}__checkbox {
    margin: 5px 5px 0 1px;
    flex: 0 0 15px;
  }

  &.is-active &__text {
    font-weight:$viewer-bold-weight;
    color: $viewer-action-active-color;
  }

  &.is-selected &__text {
    font-weight:$viewer-bold-weight;
    color: $viewer-action-active-color;
  }

  &__text {
    flex:auto;
    font-size:$viewer-list-font-size;
    color:$viewer-list-text-color;
  }

  &__count {
    font-size: $viewer-list-secondary-font-size;
    text-align: right;
    color: $viewer-list-secondary-text-color;
  }
}
