@import "../vars.scss";

.viewer-toggle {
  display: flex;
  align-content:center;
  text-align: center;
  border-radius: $viewer-border-radius;
  max-height:30px;

  &.is-disabled {
    display:none;
  }

  &-option {
    flex:1;
    background-color: $viewer-selector-background;
    border:1px solid $viewer-selector-border-color;
    cursor:pointer;
    font-weight: $viewer-medium-weight;
    font-size:$viewer-list-font-size;
    color: $viewer-selector-text-color;
    padding:5px 10px;
    border-right:none;
    text-decoration: none;
    white-space: nowrap;

    &:first-child {
      border-radius: $viewer-border-radius 0 0 $viewer-border-radius;
    }

    &:last-child {
      border-radius: 0 $viewer-border-radius $viewer-border-radius 0;
      border-right:1px solid $viewer-selector-border-color;
    }

    &.is-active {
      background-color:$viewer-selector-active-background;
      color:$viewer-selector-active-text-color;
      border-color:$viewer-selector-active-background;
    }

    &.is-disabled {
      cursor: initial;
      color: $viewer-disabled-text-color;
    }

    &__text, &__count {
      display: inline;
    }

    &__count {
      &:before {
        content: " ("
      }

      &:after {
        content: ")"
      }
    }
  }
}
