$viewer-bold-weight: 700 !default;
$viewer-medium-weight: 500 !default;
$viewer-light-weight: 300 !default;

$viewer-font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif !default;

$viewer-layout-background: #f4f4f4 !default;
$viewer-layout-panel-background: white !default;
$viewer-primary-theme-color: #000 !default;
$viewer-active-bg-color: #08c !default;
$viewer-border-color: #ccc !default;
$viewer-title-color: black !default;
$viewer-text-color: #444 !default;
$viewer-text-secondary-color: #777 !default;
$viewer-list-text-color: #666 !default;
$viewer-list-secondary-text-color: #ccc !default;
$viewer-action-text-color: #08c !default;
$viewer-action-active-color: #000 !default;
$viewer-disabled-text-color: #ddd !default;
$viewer-remove-action-color: #fa2a00 !default;

$viewer-selector-background: white !default;
$viewer-selector-active-background: #08c !default;
$viewer-selector-border-color: #ccc !default;
$viewer-selector-text-color: black !default;
$viewer-selector-active-text-color: white !default;

$viewer-selected-filters-background: #f4f4f4 !default;

$viewer-heading-font-size: 14px !default;
$viewer-text-font-size: 14px !default;
$viewer-list-font-size: 14px !default;
$viewer-action-font-size: 14px !default;
$viewer-list-secondary-font-size: 12px !default;

$viewer-border-radius: 3px !default;
