@import url('../node_modules/searchkit/release/theme.css');

.my-logo {
  color:white;
  flex:0 0 250px;
  padding:13px 20px;
  margin-right:15px;
  line-height: 16px;
}

.sk-hits-list a {
  text-decoration: none;
  color: #0366d6;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
}

table{
    table-layout: fixed;
    width: 400px;
}

th, td {
    width: 200px;
}

.sk-hits-list-hit__subtitle, .sk-hits-list-hit__tags {
    line-height: 20px;
    font-size: 14px;
    color: #000000;
    font-weight: 300
}